/*Testing css ignore the purple for now*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #a10ddb; /* Purple background */
}

h1 {
    color: #ffffff; /* White text for contrast */
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 2px solid #fff; 
    padding-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label, input, select {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

input, select {
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    background: #28a12c;
    color: #fff;
    padding: 10px;
    border: none;
    
}